@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif, -apple-system, BlinkMacSystemFont,
		Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
		font-family: "Poppins", sans-serif;
	}
	body {
		color: white;
		background: black;
	}
}
@media (prefers-color-scheme: light) {
	html {
		color-scheme: light;
		font-family: "Poppins", sans-serif;
	}
	body {
		color: white;
		background: black;
	}
}
@layer utilities {
	.linear-gradient-text {
		background: linear-gradient(-90deg, #c8940f 20%, #ffffff 59.92%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	/* width */
	.scroll::-webkit-scrollbar {
		width: 16px;
		background-color: transparent;
	}

	/* Track */
	.scroll::-webkit-scrollbar-track {
		box-shadow: inset 0 0 5px grey;
		border-radius: 10px;
	}

	.scroll::-webkit-scrollbar-thumb {
		background: #d3d3d3;
		border-radius: 16px;
	}
}
